@import '@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafb; /* Light background */
  color: #2d3748; /* Dark text */
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #3CB371;
  /* color: #e99df5; */
} 

h2 {
  color: #1e293b; /* Tailwind Gray-800 */
}

.shadow-2xl {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.gradient-text {
  /* background: linear-gradient(90deg, #6a0dad, #dda0dd); */
  background: linear-gradient(90deg, #006400, #9ee3b5);
  -webkit-background-clip: text;
  color: transparent;
}

/* Smooth fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Shimmer Animation */
@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  50% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}

/* Apply Shimmer */
.animate-shimmer {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  background-size: 200% auto;
  animation: shimmer 2s linear infinite;
}


/* Class for fade-in animation */
.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}


.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out forwards;
}


/* Project card animation */
.project-card {
  transition: all 0.3s ease-in-out; /* Smooth scaling effect */
}

.project-card:hover {
  transform: scale(1.05); /* Slight zoom-in effect */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

/* Optional: Fade-in animation when the section loads */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#projects {
  animation: fadeIn 0.6s ease-in-out;
}

/*; Contact-form animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

form {
  animation: fadeIn 1s ease-out;
}

